/* .ui-progressbar.ui-widget-content {  */
/*                 background-image: url('http://www.primefaces.org/showcase/images/pbar-ani.gif') !important; */
/*             } */
.animated.ui-progressbar-value {
   background-image: url("http://www.primefaces.org/showcase/images/pbar-ani.gif") !important; 
/*    width:100% !important; */
}
.ui-widget, .ui-widget .ui-widget {
				font-size: 90% !important;
}
            
